# Ignore sysvisor build token
.buildinfo

# Ignore virtual-studio-code metadata
.vscode

# Ignore paths holding build artifacts and related files.
images/deb/debbuild/
images/deb/sources/

# GNU Global Tags
GPATH
GRTAGS
GTAGS