[submodule "sysbox-fs"]
	path = sysbox-fs
	url = git@github.com:nestybox/sysbox-fs.git
[submodule "sysbox-runc"]
	path = sysbox-runc
	url = git@github.com:nestybox/sysbox-runc.git
[submodule "sysbox-ipc"]
	path = sysbox-ipc
	url = git@github.com:nestybox/sysbox-ipc.git
[submodule "sysbox-mgr"]
	path = sysbox-mgr
	url = git@github.com:nestybox/sysbox-mgr.git
[submodule "lib/seccomp"]
	path = lib/seccomp
	url = git@github.com:nestybox/libseccomp.git
[submodule "lib/seccomp-golang"]
	path = lib/seccomp-golang
	url = git@github.com:nestybox/libseccomp-golang.git
[submodule "sysbox-kind"]
	path = kind-sysbox
	url = git@github.com:nestybox/kind-sysbox.git
[submodule "sysbox-staging"]
	path = sysbox-staging
	url = git@github.com:nestybox/sysbox-staging.git
