[submodule "sysvisor-fs"]
	path = sysvisor-fs
	url = git@github.com:nestybox/sysvisor-fs.git
[submodule "sysvisor-runc"]
	path = sysvisor-runc
	url = git@github.com:nestybox/sysvisor-runc.git
[submodule "sysvisor-protobuf"]
	path = sysvisor-ipc
	url = git@github.com:nestybox/sysvisor-ipc.git
[submodule "sysvisor-mgr"]
	path = sysvisor-mgr
	url = git@github.com:nestybox/sysvisor-mgr.git
