# Ignore the sysbox build token
.buildinfo

# Ignore virtual-studio-code metadata
.vscode

# Ignore paths holding build artifacts and related files.
image/deb/debbuild/
image/deb/sources/

# GNU Global Tags
GPATH
GRTAGS
GTAGS