dist: focal

language: go

git:
  submodules: false

before_install:
  # Install linux-kernel-headers package.
  - sudo apt-get update && sudo apt-get install -y linux-headers-$(uname -r)

  # Build shiftfs kernel module (not available in GCP's ubuntu-focal machines).
  - sudo apt-get install dkms -y
  - git clone -b k5.10 https://github.com/toby63/shiftfs-dkms.git shiftfs
  - cd shiftfs
  - ./update1
  - sudo make -f Makefile.dkms
  - sudo modprobe shiftfs
  - cd ..

  # For parent repos (i.e. sysbox, sysbox-fs, sysbox-libs), let's avoid dealing with ssh-keys mess by simply replacing their
  # ssh url with an http one.
  - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
  - git submodule update --init
  - sed -i 's/git@github.com:/https:\/\/github.com\//' sysbox-fs/.gitmodules
  - sed -i 's/git@github.com:/https:\/\/github.com\//' sysbox-libs/.gitmodules
  - git -C sysbox-fs submodule update --init
  - git -C sysbox-libs submodule update --init

script:
  - make sysbox
  - make test-sysbox-ci
  - sudo make test-cleanup
  - make test-sysbox-shiftuid-ci
