[Unit]
Description=Sysbox-fs component
# When systemd stops or restarts the sysbox.service, the action is propagated
# to this unit.
PartOf=sysbox.service
After=sysbox.service
# sysbox-fs should always start after sysbox-mgr.
After=sysbox-mgr.service

[Service]
# Initialize sysbox-fs daemon.
ExecStart=/usr/local/sbin/sysbox-fs --log /var/log/sysbox-fs.log
# Restart service upon detection of daemon's termination, and do so regardless of
# the termination cause.
Restart=always
RestartSec=1
StartLimitInterval=0

[Install]
# This unit should be only started after sysbox.service has completed its
# initialization.
WantedBy=sysbox.service