# Sysvisor unit to act as a wrapper of Sysvisor's inner components/daemons:
# sysvisor-mgr and sysvisor-fs.
[Unit]
Description=Sysvisor General Service

[Service]
Type=oneshot
# Execute a dummy program.
ExecStart=/bin/true
# Sysvisor service shall be considered 'active' after start.
RemainAfterExit=yes

[Install]
# Components of this application should be started at boot time
WantedBy=multi-user.target
