[Unit]
Description=Sysvisor-mgr component
# When systemd stops or restarts the sysvisor.service, the action is propagated
# to this unit.
PartOf=sysvisor.service
After=sysvisor.service

[Service]
# Initialize sysvisor-mgr daemon.
ExecStart=/usr/local/sbin/sysvisor-mgr --log /var/log/sysvisor-mgr.log
# Restart service upon detection of non-zero exit code, i.e. when terminated by
# a signal other than SIGHUP, SIGINT, SIGTERM or SIGPIPE.
Restart=on-failure

[Install]
# This unit should be only started after sysvisor.service has completed its
# initialization.
WantedBy=sysvisor.service