Source: sysbox
Section: admin
Priority: optional
Maintainer: Nestybox <contact@nestybox.com>
Build-Depends: debhelper (>= 11),
               bash,
Standards-Version: 4.1.4
Homepage: nestybox.com
Vcs-Git: git://github.com/nestybox/sysbox.git

Package: sysbox
Architecture: linux-any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         debconf,
         jq,
         fuse,
         lsb-release,
         rsync
Description: System-containers runtime
 Sysbox is a container runtime that enables the creation of
  system containers.