#!/usr/bin/make -f

# Output every command that modifies files on the build system. Enable me for
# debugging purposes.
export DH_VERBOSE = 1

# Shiftfs module name.
export SHIFTFS_MOD_NAME = nbox-shiftfs

override_dh_auto_build:
	# Build sysbox's components.
	cd sysbox && make sysbox

override_dh_auto_test:

# ONESHELL attribute to ensure that all instruccions in this target are executed
# within a single shell process.
.ONESHELL:
SHELL=/bin/bash
override_dh_auto_install:
	# Sysbox binaries will be installed through the regular (makefile) process.
	install -D -m0755 sysbox/sysbox-fs/sysbox-fs \
		debian/sysbox/usr/local/sbin/sysbox-fs
	install -D -m0755 sysbox/sysbox-mgr/sysbox-mgr \
		debian/sysbox/usr/local/sbin/sysbox-mgr
	install -D -m0755 sysbox/sysbox-runc/sysbox-runc \
		debian/sysbox/usr/local/sbin/sysbox-runc

	# Sysbox services installation.
	install -D -m 0644 /sources/sysbox.service \
		debian/sysbox/lib/systemd/system/sysbox.service
	install -D -m 0644 /sources/sysbox-fs.service \
		debian/sysbox/lib/systemd/system/sysbox-fs.service
	install -D -m 0644 /sources/sysbox-mgr.service \
		debian/sysbox/lib/systemd/system/sysbox-mgr.service

	# Sysbox's sysctl.d config-file installation.
	install -D -m 0644 /sources/sysbox-systemd.conf \
		bian/sysbox/lib/systemd/system/sysbox-systemd.conf

	# Iterate through all the kernel-headers present in the build-server and
	# install the shiftfs modules previously compiled.
	for d in /lib/modules/*; do

		kernel_major_no=$$(echo $$d | cut -d"/" -f4 | cut -d"." -f1)
		if [[ $${kernel_major_no} -lt 5 ]]; then
			echo "Skipping kernel $${d}"
			continue
		fi

		if [[ -f "$${d}/updates/dkms/$${SHIFTFS_MOD_NAME}.ko" ]]; then
			echo "Installing $${SHIFTFS_MOD_NAME} module for kernel $${d}"
			install -D -m 0644 $${d}/updates/dkms/$${SHIFTFS_MOD_NAME}.ko \
				debian/sysbox/$${d}/updates/dkms/$${SHIFTFS_MOD_NAME}.ko
		fi
	done


override_dh_install:
	dh_install

# Override dh_usrlocal to prevent error after placing sysbox binaries in
# /usr/local path.
override_dh_usrlocal:

%:
	dh $@

override_dh_installsystemd:
	dh_installsystemd sysbox.service sysbox-mgr.service sysbox-fs.service
