#!/bin/bash

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Do you want to automatically restart docker service?
db_input critical sysvisor/docker_restart || true
db_go || true

# Check their answer.
#db_get sysvisor/docker_restart
#if [ "$RET" = "false" ]; then
#    # Poor misguided one..
#    db_input high sysvisor/docker_automatic_restart || true
#    #why_debian_is_great || true
#    db_go
#fi

#DEBHELPER#
